.btn.btn-primary {
  background-color: #0075BB;
  border-color: #005B99;
  color: white;
}

.btn.btn-primary:hover {
  background-color: #0075BB;
  /* Adjust the color as needed */
  filter: brightness(95%);
  /* Adjust the percentage as needed */
}
